<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="BGSBOT Entertainment Rest Api">
    <meta property="og:description" content="Dapatkan akses Free Rest-Api oleh BGSBOT | MD Entertainment">
    <meta property="og:image" content="https://telegra.ph/file/9664b16b40f92db8d372b.jpg">
    <meta property="og:url" content="https://bgsbot.my.id">
    <meta name="twitter:card" content="summary_large_image">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://erzacanz.github.io/simple/static/css/index.css">
    <title>BGSBOT Entertainment</title>
    <link rel="icon" href="icons/favicon.ico" type="image/x-icon">
</head>

<body id="body" class="dark">
    <audio loop="true" autoplay="true" src="https://pomf2.lain.la/f/li9x2z45.mp3"></audio>

     <!-- <div class="wrapper">
          <div class="toggle">
               <input class="toggle-input" type="checkbox" />
               <div class="toggle-bg"></div>
               <div class="toggle-switch">
                    <div class="toggle-switch-figure"></div>
                    <div class="toggle-switch-figureAlt"></div>
               </div>
          </div>
     </div> -->
     <div class="modal">
          <img src="https://telegra.ph/file/9664b16b40f92db8d372b.jpg" alt="img">
          <div class="close"></div>
     </div>

     <div id="container" class="container">
          <input type="checkbox" name="" id="check">
          <div class="card">
               <div class="sidebar" id="sidebar">
                    <ul>
                         
                         <li><a class="active" href="https://wa.me/6285865953104">My Bot</a></li>
                         <li><a class="active" href="https://chat.whatsapp.com/LVOOZiD8gs7Im6twPg0cSz">Grup WhatsApp</a></li>
                         <li><a class="active" href="/docs">Rest Api</a></li>

                        
                    </ul>
               </div>
               <div class="header">
                    <label for="check" class="checkbtn" id="chkbtn">
                         <div class="hamburger-menu">
                              <div class="center"></div>
                         </div>
                    </label>
                    <a href="mailto: bgsbot@gmail.com" class="mail">
                         <i class="far fa-envelope"></i>
                    </a>
                    <div class="main">
                         <div class="image">
                              <div class="hover">
                                   <i class="fas fa-camera fa-2x"></i>
                              </div>
                         </div>
                         <h3 class="project">BGSBOT | MD Entertainment</h3>
                         <h3 class="Website">Free Rest-Api</h3>
                    </div>
               </div>

               <div class="content">
                    <div class="left">
                         <div class="about-container">
                              <h3 class="title">About</h3>
                              <p class="text">Mulai lupakan orang-orang yang tak membalas pesan singkatmu. Terima kenyataan, jangan terpuruk dalam khayalan. Sadar diri itu perlu, memperbaiki diri itu penting. Dia memang menarik, tapi kamu bisa membuat dirimu jadi lebih menarik bagi yang lain. Jangan terpuruk semakin buruk</p>
                         </div>
                         <div class="icons-container">
                              <a href="https://github.com/" class="icon">
                                   <i class="fab fa-github"></i>
                              </a>
                              <a href="https://instagram.com" class="icon">
                                   <i class="fab fa-instagram"></i>
                              </a>
                              <a href="https://wa.me/6285865953104" class="icon">
                                   <i class="fab fa-whatsapp"></i>
                              </a>
                              
                                                     
                         </div>
                         <div class="buttons-wrap">
                              <div class="follow-wrap">
                                   <a href="https://chat.whatsapp.com/LVOOZiD8gs7Im6twPg0cSz" class="follow">Grup Bot</a>
                              </div>
                              <div class="share-wrap">
                                   <a href="/docs" class="share">Rest Api</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <script src="https://erzacanz.github.io/simple/static/js/app.js"></script>
     
     <script
  id="contactform"
  form_worker_url="https://mjvbzcontactme.tomsmater.workers.dev/"> </script>
   </body>

</html>